In [26]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,confusion_matrix

In [27]:
letters = pd.read_csv("letters.csv")
letters

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [28]:
letters.head()

,lettr,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [29]:
letters.describe()

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybar,xy2bar,x-ege,xegvy,y-ege,yegvx
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,4.023550,7.035500,5.121850,5.37245,3.505850,6.897600,7.500450,4.628600,5.178650,8.282050,6.45400,7.929000,3.046100,8.338850,3.691750,7.80120
std,1.913212,3.304555,2.014573,2.26139,2.190458,2.026035,2.325354,2.699968,2.380823,2.488475,2.63107,2.080619,2.332541,1.546722,2.567073,1.61747
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.00000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.00000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.00000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.00000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.00000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.00000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.00000

In [30]:
letters.columns

Index(['lettr', 'x-box', 'y-box', 'width', 'high', 'onpix', 'x-bar', 'y-bar',
       'x2bar', 'y2bar', 'xybar', 'x2ybar', 'xy2bar', 'x-ege', 'xegvy',
       'y-ege', 'yegvx'],
      dtype='object')

In [31]:
x= letters.iloc[:,1:].values
y=letters.iloc[:,0].values

In [45]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
sc= StandardScaler()

In [48]:
sc.fit(x_train)

StandardScaler()

In [49]:
model = SVC(kernel = "linear")
model.fit(x_train,y_train)

SVC(kernel='linear')

In [56]:
pred = model.predict(x_test)
pred

array(['Y', 'B', 'K', ..., 'A', 'O', 'I'], dtype=object)

In [57]:
model.predict([[5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10]])

array(['I'], dtype=object)

In [58]:
model.predict([[5,12,3,8,2,10,5,5,4,13,8,9,4,8,4,10]])

array(['Q'], dtype=object)

In [51]:
accuracy_score(y_test,pred)

0.8655

In [52]:
confusion_matrix(y_test,pred)

array([[140,   1,   0,   1,   0,   0,   0,   0,   0,   1,   1,   0,   0,
          1,   0,   0,   1,   1,   0,   0,   0,   0,   0,   0,   0,   0],
       [  2, 131,   0,   1,   0,   0,   2,   3,   2,   0,   0,   0,   0,
          0,   0,   0,   0,  13,   3,   0,   0,   1,   0,   0,   0,   0],
       [  0,   0, 141,   0,   3,   0,   5,   0,   0,   0,   5,   1,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   4,   0, 154,   0,   1,   0,   1,   0,   0,   2,   0,   0,
          1,   1,   1,   0,   3,   0,   1,   1,   0,   0,   0,   0,   0],
       [  0,   2,   3,   0, 120,   0,   8,   0,   0,   0,   1,   4,   0,
          0,   0,   0,   0,   1,   3,   1,   0,   0,   0,   0,   0,   2],
       [  0,   0,   1,   1,   0, 143,   1,   0,   0,   2,   0,   0,   0,
          2,   0,   5,   0,   0,   3,   6,   0,   1,   0,   0,   2,   0],
       [  0,   1,   5,   3,   5,   0, 146,   2,   0,   0,   4,   1,   1,
          0,   2,   0,   2,   3,   3,   0,   0,   4,   0,   0,   0,   0],
       [  0,   2,   1,   7,   1,   0,   1,  90,   0,   2,   5,   0,   0,
          0,   5,   0,   0,   7,   0,   0,   1,   0,   0,   1,   0,   0],
       [  0,   0,   0,   2,   0,   0,   1,   0, 114,   3,   0,   0,   0,
          0,   0,   0,   0,   0,   6,   0,   0,   0,   0,   0,   0,   1],
       [  3,   0,   0,   2,   0,   2,   0,   1,   4, 138,   0,   0,   0,
          0,   0,   0,   0,   0,   3,   0,   0,   0,   0,   0,   0,   6],
       [  0,   0,   2,   0,   0,   0,   2,   4,   0,   0, 121,   2,   0,
          0,   0,   0,   0,  10,   0,   0,   0,   0,   1,   1,   0,   0],
       [  0,   0,   1,   0,   5,   0,   3,   1,   0,   0,   1, 143,   0,
          0,   0,   0,   5,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [  1,   1,   1,   0,   0,   0,   0,   6,   0,   0,   0,   0, 157,
          2,   0,   0,   0,   2,   0,   0,   1,   0,   2,   0,   0,   0],
       [  0,   0,   0,   2,   0,   0,   0,   3,   0,   0,   0,   0,   0,
        127,   0,   0,   0,   0,   0,   0,   2,   0,   0,   0,   0,   0],
       [  3,   0,   2,   4,   0,   0,   0,  11,   0,   0,   0,   0,   0,
          0, 116,   0,   0,   1,   0,   0,   1,   1,   3,   0,   0,   0],
       [  0,   0,   0,   1,   0,   8,   5,   0,   0,   0,   2,   0,   0,
          0,   0, 143,   0,   0,   1,   0,   0,   1,   0,   0,   4,   0],
       [  2,   0,   0,   0,   4,   0,   8,   1,   0,   1,   0,   0,   0,
          0,   2,   0, 119,   0,   5,   0,   0,   0,   1,   0,   1,   1],
       [  2,   5,   0,   0,   0,   0,   0,   5,   0,   0,   6,   0,   0,
          4,   1,   1,   0, 124,   0,   1,   0,   0,   0,   0,   0,   0],
       [  0,   7,   0,   0,   6,   0,   5,   0,   4,   1,   0,   1,   0,
          0,   0,   0,   6,   0, 105,   2,   0,   0,   0,   1,   0,  16],
       [  0,   0,   0,   0,   1,   1,   1,   2,   0,   0,   1,   0,   0,
          1,   0,   0,   0,   2,   2, 161,   0,   0,   0,   1,   2,   2],
       [  0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   3,
          1,   1,   0,   0,   0,   0,   1, 150,   1,   2,   0,   0,   0],
       [  0,   2,   0,   0,   0,   0,   1,   5,   0,   0,   0,   0,   1,
          0,   0,   0,   0,   1,   0,   0,   0, 140,   2,   0,   1,   0],
       [  1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   3,
          1,   0,   0,   0,   0,   0,   0,   1,   1, 134,   0,   0,   0],
       [  0,   2,   0,   2,   4,   1,   0,   2,   0,   2,   2,   3,   0,
          0,   0,   0,   0,   0,   1,   2,   0,   0,   0, 151,   1,   0],
       [  0,   0,   0,   0,   0,   4,   0,   2,   0,   0,   0,   0,   0,
          0,   0,   0,   2,   0,   1,   1,   1,   3,   0,   2, 138,   0],
       [  2,   0,   0,   1,   4,   0,   0,   0,   0,   2,   0,   0,   0,
          0,   0,   0,   1,   0,  17,   0,   0,   0,   0,   0,   0, 116]],
      dtype=int64)